In [15]:
#Comando del sistema

import os

# Manejo de datos

import pandas as pd
import numpy as np

#Librerias Machine learning

#Separacion conjunto de entrenamiento y de test y busqueda de hiperparametros
from sklearn.model_selection import train_test_split
#Construccion de modelo de regresion lineal
from sklearn.linear_model import LinearRegression
#Determinar rendimiento del modelo
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
#Libreria para paramettros polinomiales
from sklearn.preprocessing import PolynomialFeatures

In [2]:
#Importacion de los datos

data = pd.read_csv('kc_house_data.csv', sep = ',')

In [3]:
#Limpieza y organizaci√≥n

data['date'] = pd.to_datetime(data['date'],format = '%Y-%m-%d')
data['data'] = pd.to_datetime(data['date'], format = '%Y').dt.year
data.loc[data['yr_renovated'] != 0, 'yr_renovated'] = pd.to_datetime(data.loc[data['yr_renovated'] != 0, 'yr_renovated'], format = '%Y')

df_t = data

df_t = df_t.dropna()

df_t = df_t.drop_duplicates()

df_t['yr_renovated_dummy'] = data['yr_renovated'].apply(lambda x: 1 if x!=0 else 0)

df_t = df_t.drop(['yr_renovated'], axis=1)

df_t['house_age'] = 2022 - data['yr_built']


columns = ['price','bedrooms', 'bathrooms', 'sqft_living','waterfront', 'view', 'condition', 'grade',
          'yr_built', 'yr_renovated_dummy','lat','long', 'house_age']

df_t = df_t[columns]

df_t = df_t.drop(['yr_built'], axis = 1)
df_t = df_t.drop(['lat'], axis = 1)
df_t = df_t.drop(['long'], axis = 1)

df_t.head(5)

,price,bedrooms,bathrooms,sqft_living,waterfront,view,condition,grade,yr_renovated_dummy,house_age
0,221900.0,3,1.00,1180,0,0,3,7,0,67
1,538000.0,3,2.25,2570,0,0,3,7,1,71
2,180000.0,2,1.00,770,0,0,3,6,0,89
3,604000.0,4,3.00,1960,0,0,5,7,0,57
4,510000.0,3,2.00,1680,0,0,3,8,0,35

In [4]:
#Construccion del modelo

Y = df_t['price']

X = df_t.drop(['price'], axis = 1)

X.head(5)

,bedrooms,bathrooms,sqft_living,waterfront,view,condition,grade,yr_renovated_dummy,house_age
0,3,1.00,1180,0,0,3,7,0,67
1,3,2.25,2570,0,0,3,7,1,71
2,2,1.00,770,0,0,3,6,0,89
3,4,3.00,1960,0,0,5,7,0,57
4,3,2.00,1680,0,0,3,8,0,35

In [5]:
poly = PolynomialFeatures(degree = 2)
poly_X = poly.fit_transform(X)

In [6]:
poly_X.shape

(21613, 55)

In [7]:
poly_X_train, poly_X_test, poly_Y_train, poly_Y_test = train_test_split(poly_X, Y, test_size = 0.2, random_state = 0)

In [8]:
modelo_regresion_poly = LinearRegression().fit(poly_X_train, poly_Y_train)

In [9]:
Y_pred2 = modelo_regresion_poly.predict(poly_X)

#Resultados de las m√©tricas a partir de la predicci√≥n 
print("RMSE: %.2f" % mean_squared_error(Y, Y_pred2, squared = False))

print("MSE: %.2f" % mean_squared_error(Y, Y_pred2, squared =True))

print("MAE: %.2f" % mean_absolute_error(Y, Y_pred2))

R2 = r2_score(Y, Y_pred2)

print("R^2: %.2f" % R2 )

poly_X.shape

RMSE: 194446.48
MSE: 37809432099.38
MAE: 129149.50
R^2: 0.72

(21613, 55)

In [19]:
#Funcionamiento del Machine Learning



Caracteristicas = pd.DataFrame({'bedrooms': [2], 'bathrroms': [2], 'sqft_living': [2500], 'waterfront': [0], 'view': [0], 'condition': [5], 'grade': [7], 'yr_renovated_dummy': [0], 'property_age': [50]})
poly = PolynomialFeatures(degree = 2)
caracteristicas_polynomial = poly.fit_transform(Caracteristicas)


Precio_prediccion = modelo_regresion_poly.predict(caracteristicas_polynomial)



print("El precio estimado de la vivienda es: %.2f $$$" % Precio_prediccion)

El precio estimado de la vivienda es: 507750.43 $$$